<html>
  <head>
        <script src="/public/bundle.js" async></script>
  </head>
  <body>
    <p> Welcome to the site {{name}}!</p>
    <div data-controller="hello">
        <input type="text">
        <button data-action="click->hello#greet">Greet</button>
    </div>
  </body>
</html>