<html>
    {{> head }}
  <body>
    {{> menu }}
    <div id="main">
      <h1>User Details</h1>
      <turbo-frame id="user">
        <div style="margin: 20px 0">
            <img src={{user.profile_pic_b64}} width="200" height="200" />
            <br />
            {{user.username}}
            <div>
              <h5>About me</h5>
              <div style="border: 1px solid gray; min-height: 70px; box-sizing: border-box; padding: 5px 10px;">
                <turbo-frame id="description" src="/profiles/{{user.username}}/description">
                  {{> load_spinner }}
                </turbo-frame>
              </div>
            </div>
        </div>
        <a href="/profiles/{{user.username}}/edit">Edit User</a>
        <br />
        <a href="/profiles" target="_top">View All Users</a>
      </turbo-frame>
    </div>
  </body>
</html>
