<turbo-stream action="replace" target="userSearchResults">
  <template>
    <div id="userSearchResults">
      {{#each users}}
        <div>
            <a href="/profiles/{{this.username}}">{{this.username}}</a>
        </div>
      {{/each}}
    </div>
  </template>
</turbo-stream>